/* App.css */
:root {
  --color-background: rgba(35, 40, 45, 1);
  --color-text: rgba(255, 255, 255, 1);
  --color-accent: rgba(120, 130, 140, 1);
  --color-hover: rgba(95, 105, 115, 1);
}

.App {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Roboto', sans-serif;
}

header.cv-title {
  display: flex;
    justify-content: center;
    position: relative;
    top: 185px;
    left: 155px;
}

header h1 {
  color: var(--color-accent);
}

.sidebar h2 {
  margin: 0;
  color: deepskyblue;
}

.sidebar h3 {
  font-size: 1.17em; 
  margin-bottom: 0;
}

.container {
  display: flex;
  padding: 20px;
}

main {
  margin-top: 225px; 
}

section h2 {
  color: deepskyblue;
}

.card {
  background: var(--color-background);
  border: 1px solid var(--color-accent);
  border-radius: 8px;
  margin: 50px;
  padding: 15px;
}

.card h3 {
  color: var(--color-accent);
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}

li {
  padding: 5px 0;
}

strong {
  color: var(--color-accent);
}

/* App.css */
.card div, .card h3, .card ul, .card li {
  margin-bottom: 15px; /* Ajoute un espace en bas de chaque élément */
}

.card ul {
  padding-left: 20px; /* Ajoute un padding à gauche pour les listes */
}

.card li {
  list-style-type: none; /* Enlève les puces des listes */
}

/* App.css */
.sidebar {
  width: 35%; /* Définit la largeur de l'aside */
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: var(--color-background); /* Utilise la couleur de fond définie dans :root */
}

.profile-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

a {
  color: rgba(180, 190, 200, 1); 
  cursor: pointer;
  text-decoration: underline;
}

a:hover {
  color: rgba(255, 255, 255, 1); 
  text-decoration: none; 
}

a:active {
  color: rgba(140, 150, 160, 1); /* Un gris plus foncé lors du clic */
}

footer {
  padding: 20px;
  text-align: center;
  background: var(--color-background);
  color: var(--color-text);
}