/* App.css */
:root {
  --color-background: rgba(35, 40, 45, 1);
  --color-text: rgba(255, 255, 255, 1);
  --color-accent: rgba(120, 130, 140, 1);
  --color-hover: rgba(95, 105, 115, 1);
}

.App {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Roboto', sans-serif;
}

header.cv-title {
  display: flex;
    justify-content: center;
    position: relative;
    top: 185px;
    left: 105px;
}

.container {
  display: flex;
  padding: 20px;
}

.cv-title h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid color var(--color-accent); /* The cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .05em; /* Adjust as needed */
  position: absolute;
    left: 305px;
    top: -50px;
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end 3;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% {color: var(--color-accent); }
}

main {
  margin-top: 225px; /* Espace entre le titre et le contenu principal */
}

.card {
  background: var(--color-background);
  border: 1px solid var(--color-accent);
  border-radius: 8px;
  margin: 50px;
  padding: 15px;
}

.card h3 {
  color: var(--color-accent);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 5px 0;
}

strong {
  color: var(--color-accent);
}

/* App.css */
.card div, .card h3, .card ul, .card li {
  margin-bottom: 15px; /* Ajoute un espace en bas de chaque élément */
}

.card ul {
  padding-left: 20px; /* Ajoute un padding à gauche pour les listes */
}

.card li {
  list-style-type: none; /* Enlève les puces des listes */
}

/* App.css */
.sidebar {
  width: 35%; /* Définit la largeur de l'aside */
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: var(--color-background); /* Utilise la couleur de fond définie dans :root */
}

.profile-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

a {
  color: rgba(180, 190, 200, 1); 
  cursor: pointer;
  text-decoration: underline;
}

a:hover {
  color: rgba(255, 255, 255, 1); 
  text-decoration: none; 
}

a:active {
  color: rgba(140, 150, 160, 1); /* Un gris plus foncé lors du clic */
}

footer {
  padding: 20px;
  text-align: center;
  background: var(--color-background);
  color: var(--color-text);
}